<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="北京" />
    <meta name="description" content="北京" />
    @Html.Partial("~/views/shared/_PartialCommon.cshtml")
</head>
<body>
    @Html.Partial("~/views/TAHBOA/headerpartial.cshtml")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("~/views/TAHBOA/footerpartial.cshtml")
</body>
</html>
