 <table id="webFooterTable" class="webFooterTable" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="fk-moduleZoneWrap" align="center" valign="top">
                    <div id="fk-webFooterZone" class="J_moduleZone fk-webFooterZone fk-moduleZone forms sideForms">

                    </div>

                    <div id="webFooter" class="webFooter">
                        <div id="footer" class="footer">
                            <table class="footerTop" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr valign="top">
                                        <td class="topLeft"></td>
                                        <td class="topCenter"></td>
                                        <td class="topRight"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="footerMiddle" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr valign="top">
                                        <td class="middleLeft"></td>
                                        <td class="middleCenter" align="center">
                                            <div class="footerContent">
                                                <div id="footerNav" class="footerNav  footerPattern1" cusheight="0">
                                                    <div class="footerItemListBox">
                                                        <ul class="footerItemListContainer J_footerItemListContainer">
                                                            <li class="J_footerItemSection footerItemSection">
                                                                <table class="J_footerItemContainer footerItemContainer">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="footerItemContainer-firstTd" style="vertical-align:middle;">
                                                                                <div class="footerItemPic">
                                                                                    <a href="javascript:;" class="footerItemNormalPic " style="text-decoration: none;" id="footerItemPic2"></a>
                                                                                </div>
                                                                            </td>
                                                                            <td class="footerItemContainer-secondTd" style="vertical-align:middle;"><div class="footerItemContent"><div class="footerItemTop"><a title="" class="footerItemTopLink" href="javascript:void(0)" onclick="NaviClick('index')" child="0">首页<span class="fk-footerTriangle"></span></a><div class="fk-footerTrianglePlaceholder"></div></div><div class="footerItemMiddle"><div class="footSplitline"></div></div></div></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </li>
                                                            <li class="footerItemSpacing"><div class="footerVerticalLine"></div></li>
                                                            <li class="J_footerItemSection footerItemSection">
                                                                <table class="J_footerItemContainer footerItemContainer"><tbody><tr><td class="footerItemContainer-firstTd" style="vertical-align:middle;"><div class="footerItemPic">                            <a href="javascript:;" class="footerItemNormalPic " style="text-decoration: none;" id="footerItemPic103"></a></div></td><td class="footerItemContainer-secondTd" style="vertical-align:middle;"><div class="footerItemContent"><div class="footerItemTop"><a title="" class="footerItemTopLink" href="javascript:void(0)" onclick="NaviClick('EnterpriseCulture')" child="0">企业文化<span class="fk-footerTriangle"></span></a><div class="fk-footerTrianglePlaceholder"></div></div><div class="footerItemMiddle"><div class="footSplitline"></div></div></div></td></tr></tbody></table>
                                                            </li>
                                                            <li class="footerItemSpacing"><div class="footerVerticalLine"></div></li>
                                                            <li class="J_footerItemSection footerItemSection"><table class="J_footerItemContainer footerItemContainer"><tbody><tr><td class="footerItemContainer-firstTd" style="vertical-align:middle;"><div class="footerItemPic">                            <a href="javascript:;" class="footerItemNormalPic " style="text-decoration: none;" id="footerItemPic101"></a></div></td><td class="footerItemContainer-secondTd" style="vertical-align:middle;"><div class="footerItemContent"><div class="footerItemTop"><a title="" class="footerItemTopLink" href="javascript:void(0)" onclick="NaviClick('About')" child="0">关于我们<span class="fk-footerTriangle"></span></a><div class="fk-footerTrianglePlaceholder"></div></div><div class="footerItemMiddle"><div class="footSplitline"></div></div></div></td></tr></tbody></table></li>
                                                            <li class="footerItemSpacing"><div class="footerVerticalLine"></div></li>
                                                            <li class="J_footerItemSection footerItemSection"><table class="J_footerItemContainer footerItemContainer"><tbody><tr><td class="footerItemContainer-firstTd" style="vertical-align:middle;"><div class="footerItemPic">                            <a href="javascript:;" class="footerItemNormalPic " style="text-decoration: none;" id="footerItemPic102"></a></div></td><td class="footerItemContainer-secondTd" style="vertical-align:middle;"><div class="footerItemContent"><div class="footerItemTop"><a title="" class="footerItemTopLink" href="javascript:void(0)" child="0" onclick="NaviClick('ContactUS')">联系我们<span class="fk-footerTriangle"></span></a><div class="fk-footerTrianglePlaceholder"></div></div><div class="footerItemMiddle"><div class="footSplitline"></div></div></div></td></tr></tbody></table></li>
                                                            <li class="footerItemSpacing"><div class="footerVerticalLine"></div></li>
                                                            <li class="J_footerItemSection footerItemSection"><table class="J_footerItemContainer footerItemContainer"><tbody><tr><td class="footerItemContainer-firstTd" style="vertical-align:middle;"><div class="footerItemPic">                            <a href="javascript:;" class="footerItemNormalPic " style="text-decoration: none;" id="footerItemPic105"></a></div></td><td class="footerItemContainer-secondTd" style="vertical-align:middle;"><div class="footerItemContent"><div class="footerItemTop"><a title="" class="footerItemTopLink" href="javascript:void(0)" child="0" onclick="NaviClick('News')">新闻动态<span class="fk-footerTriangle"></span></a><div class="fk-footerTrianglePlaceholder"></div></div><div class="footerItemMiddle"><div class="footSplitline"></div></div></div></td></tr></tbody></table></li>
                                                            <li class="footerItemSpacing"><div class="footerVerticalLine"></div></li>
                                                            <li class="J_footerItemSection footerItemSection"><table class="J_footerItemContainer footerItemContainer"><tbody><tr><td class="footerItemContainer-firstTd" style="vertical-align:middle;"><div class="footerItemPic">                            <a href="javascript:;" class="footerItemNormalPic " style="text-decoration: none;" id="footerItemPic106"></a></div></td><td class="footerItemContainer-secondTd" style="vertical-align:middle;"><div class="footerItemContent"><div class="footerItemTop"><a title="" class="footerItemTopLink" href="javascript:void(0)" child="0" onclick="NaviClick('ProductService')">产品服务<span class="fk-footerTriangle"></span></a><div class="fk-footerTrianglePlaceholder"></div></div><div class="footerItemMiddle"><div class="footSplitline"></div></div></div></td></tr></tbody></table></li>
                                                            <li class="footerItemSpacing"><div class="footerVerticalLine"></div></li>
                                                            <li class="J_footerItemSection footerItemSection"><table class="J_footerItemContainer footerItemContainer"><tbody><tr><td class="footerItemContainer-firstTd" style="vertical-align:middle;"><div class="footerItemPic">                            <a href="javascript:;" class="footerItemNormalPic " style="text-decoration: none;" id="footerItemPic9"></a></div></td><td class="footerItemContainer-secondTd" style="vertical-align:middle;"><div class="footerItemContent"><div class="footerItemTop"><a title="" class="footerItemTopLink" href="javascript:void(0)" child="0" onclick="NaviClick('MessageBoard')">留言板<span class="fk-footerTriangle"></span></a><div class="fk-footerTrianglePlaceholder"></div></div><div class="footerItemMiddle"><div class="footSplitline"></div></div></div></td></tr></tbody></table></li>
                                                            <li class="J_footerItemSpacing_end footerItemSpacing footerItemSpacing_end"><div class="footerVerticalLine"></div></li>
                                                        </ul>
                                                    </div>
                                                </div><div class="footerInfo"><p><font face="Arial">&copy;</font>2017  北京中泰祥和科技有限公司  版权所有  </p></div><div class="footerSupport" id="footerSupport">
                                                    @*<span class="footerMobile"><a hidefocus="true" href="http://m.mc12394310.icoc.me" target="_blank">手机版</a></span>
                                                        <span class="footerSep">|</span>
                                                          <span class="footerFaisco">本站使用<a hidefocus="true" href="http://jz.faisco.com/?_ta=4" onclick="Site.logDog(100065, 0);" target="_blank"><span class="faisco-icons-logo" id="faisco-icons-logo" style="padding-left: 2px; padding-right: 2px; position: relative; top: 2px; font-size: 16px;"></span>凡科建站</a><span style="padding-left:8px;">搭建</span></span>           <span class="footerSep">|</span>           <span id="footerLogin" class="footerLogin"><a name="popupLogin" hidefocus="true" href="http://www.faisco.cn?cacct=mc12394310" onclick="alert('aa')">管理登录</a></span>
                                                         <span class="bgplayerButton" id="bgplayerButton" style="display:none;">
                                                         </span>*@
                                                </div>
                                            </div>
                                        </td>
                                        <td class="middleRight"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="footerBottom" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr valign="top">
                                        <td class="bottomLeft"></td>
                                        <td class="bottomCenter"></td>
                                        <td class="bottomRight"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </td>
            </tr>
        </tbody>
    </table>