@Scripts.Render("~/Scripts/69zg/site.js")
<div id="g_main" class="g_main g_col2 " style="min-width: 1519.2px;">
    <div id="web" class="g_web ">
        <table class="webTopTable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center">
                        <div id="webTop" class="webTop">
                            <div id="corpTitle" class="corpTitle corpTitle2" fontpatterntitle="false" style=";" _linktype="0" onpaste="Fai.top.Site.corpTitleFormatPasteDatacorpTitle();"><div style="" class="newPrimaryTitle"><b><font color="#ffffff"><font style="color: rgb(204, 204, 204);" color="#cccccc"><font style="color: rgb(30, 80, 174);" color="#1e50ae">北京</font>&nbsp;中泰祥和科技有限公司</font></font></b></div></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="absTopTable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center">
                        <div id="absTopForms" class="forms sideForms absForms">
                            <div style="position:absolute;"></div><!-- for ie6 -->
                            <div id="module314" _indexclass="formIndex1" _modulestyle="86" _moduleid="314" class="form form314 formIndex1 formStyle86 siteEditor " title="" style="position: absolute; top: 31px; left: 499px; width: 461px; height: 41px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="true" _independent="false">
                                <table class="formTop formTop314" cellspacing="0" cellpadding="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
                                <table class="formMiddle formMiddle314" style="height:41px; " cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="formMiddleLeft formMiddleLeft314"></td>
                                            <td class="formMiddleCenter formMiddleCenter314 " valign="top">
                                                <div class="formMiddleContent formMiddleContent314 fk-formContentOtherPadding" tabstyle="0" style="height: 41px; overflow-y: hidden;">
                                                    <div class="fk-editor simpleText">
                                                        <span style="line-height: 20px;"><font face="微软雅黑, Microsoft YaHei"><p style="color: rgb(0, 0, 0); font-size: 12px; text-align: right;"><span style="font-size: 16px; color: rgb(8, 61, 151);">通过互联网服务提升人类生活品质!</span></p><p style="color: rgb(0, 0, 0); font-size: 12px; text-align: right;"><span style="color: rgb(51, 51, 51);">INTERNET SERVICES TO ENHANCE THE QUALITY OF HUMAN LIFE !</span></p></font></span><div></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="formMiddleRight formMiddleRight314"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="formBottom formBottom314" cellspacing="0" cellpadding="0"><tbody><tr><td class="left left314"></td><td class="center center314"></td><td class="right right314"></td></tr></tbody></table>
                                <div class="clearfloat clearfloat314"></div>
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="webNavTable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center">
                        <div id="webNav" class="webNav">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="webHeaderTable" id="webHeaderTable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="webHeaderTd fk-moduleZoneWrap" align="center">
                        <div id="fk-webHeaderZone" class="J_moduleZone fk-webHeaderZone fk-moduleZone forms sideForms">

                        </div>
                        <div id="webHeader" class="webHeader">
                            <table class="headerTable" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="headerCusLeft"></td>
                                        <td class="headerCusMiddle" align="center" valign="top">
                                            <div class="headerNav">
                                                <div id="nav" class="nav nav2 fixedNavPos ">
                                                    <div class="navMainContent">
                                                        <table class="navTop" cellspacing="0" cellpadding="0"><tbody><tr><td class="navTopLeft"></td><td class="navTopCenter"></td><td class="navTopRight"></td></tr></tbody></table>
                                                        <table class="navContent" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="navLeft"></td>
                                                                    <td class="navCenterContent" id="navCenterContent" align="left" valign="top">
                                                                        <div id="navCenter" class="navCenter">
                                                                            <div class="itemPrev" style="display: none;"></div>
                                                                            <div class="itemContainer" style="width: 964px;">
                                                                                <table id="Index" title="" class="item itemCol2 itemIndex1 itemSelected itemSelectedIndex1" colid="2" id="nav2" onclick="NaviClick('Index')"  cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="itemLeft"></td>
                                                                                            <td class="itemCenter"><a hidefocus="true" style="outline:none;" href="/" target="_self" onclick="return false;"><span class="itemName0">首页</span></a></td>
                                                                                            <td class="itemRight"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="itemSep"></div><table id="News" class="item itemCol105 itemIndex2" colid="105" id="nav105" onclick="NaviClick('News')" cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="itemLeft"></td>
                                                                                            <td class="itemCenter"><a hidefocus="true" style="outline:none;" href="/col.jsp?id=105" target="_self" onclick="return false;"><span class="itemName0">新闻动态</span></a></td>
                                                                                            <td class="itemRight"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="itemSep"></div><table id="About" class="item itemCol101 itemIndex3" colid="101" id="nav101" onclick="NaviClick('About')" cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="itemLeft"></td>
                                                                                            <td class="itemCenter"><a hidefocus="true" style="outline:none;" href="/col.jsp?id=101" target="_self" onclick="return false;"><span class="itemName0">关于我们</span></a></td>
                                                                                            <td class="itemRight"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="itemSep"></div><table id="ContactUS" class="item itemCol102 itemIndex4" colid="102" id="nav102" onclick="NaviClick('ContactUS')"  cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="itemLeft"></td>
                                                                                            <td class="itemCenter"><a hidefocus="true" style="outline:none;" href="/col.jsp?id=102" target="_self" onclick="return false;"><span class="itemName0">联系我们</span></a></td>
                                                                                            <td class="itemRight"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="itemSep"></div><table id="EnterpriseCulture" class="item itemCol103 itemIndex5" colid="103" id="nav103" onclick="NaviClick('EnterpriseCulture')"  cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="itemLeft"></td>
                                                                                            <td class="itemCenter"><a hidefocus="true" style="outline:none;" href="/col.jsp?id=103" target="_self" onclick="return false;"><span class="itemName0">企业文化</span></a></td>
                                                                                            <td class="itemRight"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="itemSep"></div><table id="ProductService" class="item itemCol106 itemIndex6" colid="106" id="nav106" onclick="NaviClick('ProductService')"  cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="itemLeft"></td>
                                                                                            <td class="itemCenter"><a hidefocus="true" style="outline:none;" href="/col.jsp?id=106" target="_self" onclick="return false;"><span class="itemName0">产品服务</span></a></td>
                                                                                            <td class="itemRight"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="itemSep"></div><table id="MessageBoard" class="item itemCol9 itemIndex7" colid="9" id="nav9" onclick="NaviClick('MessageBoard')"  cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="itemLeft"></td>
                                                                                            <td class="itemCenter"><a hidefocus="true" style="outline:none;" href="/msgBoard.jsp" target="_self" onclick="return false;"><span class="itemName0">留言板</span></a></td>
                                                                                            <td class="itemRight"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="itemNext" style="display: block;"></div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="navRight"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="navBottom" cellspacing="0" cellpadding="0"><tbody><tr><td class="navBottomLeft"></td><td class="navBottomCenter"></td><td class="navBottomRight"></td></tr></tbody></table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="headerCusRight"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="webBannerTable J_webBannerTable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="fk-moduleZoneWrap" align="center">
                        <div id="fk-webBannerZone" class="J_moduleZone fk-webBannerZone fk-moduleZone forms sideForms">

                        </div>
                        <div id="webBanner" class="webBanner">
                            <table class="bannerTable" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="bannerLeft"></td>
                                        <td class="bannerCenter" align="center" valign="top">
                                            <div class="bannerTop"></div>
                                            <div id="banner" class="banner extBanner" style="background: transparent none repeat scroll 0% 0%; height: 342px; overflow: hidden;" normalheight="342" defaultwidth="0">



                                                <div class="imageSwitchShowName photoSwitchBg" style="position: absolute; display: none; z-index: 2; min-width: 1519px; height: 30px; line-height: 30px; top: 317px; left: 0px;"><span class="spanHiddenName spanShowName" style="margin-left: 10px;"></span><span class="spanHiddenName " style="margin-left: 10px;"></span></div>
                                                <div class="imageSwitchBtnArea" style="position: absolute; z-index: 3; display: none; left: 50%; margin-left: -20px; bottom: 5px;">
                                                <a class="imageSwitchBtn_dot imageSwitchBtnSel_dot"></a>
                                                <a class="imageSwitchBtn_dot"></a>
                                                </div>
                                                <div></div><div class="switchGroup billboard billboard9" style="width: 100%; position: relative; height: 342px; overflow: hidden; margin: 0px auto;">
                                                    <div id="bannar1" class="billboard_item billboardItem_9 billboardItem_9_1 billboardItem_9_start" style="animation-duration: 1500ms; display: block;">
                                                        <div class="billboardTile billboardTile_1 billboardAnim" style="animation-duration: 1500ms; transform-origin: 50% 50% -171px;">
                                                            <div class="billboardImg">
                                                                <a class="J_bannerItem billboardImgInner" hidefocus="true" title="" href="javascript:;" target="_blank" style="min-width: 1519px; height: 342px; cursor: default; background-position: 50% 50%; background-repeat: no-repeat; overflow: hidden; display: block; outline: medium none; margin: 0px auto; position: relative; z-index: 1; background-image: url(&quot;../images/69zg/69zg_bannar.jpg&quot;);" onclick="return false;">
                                                                </a>
                                                            </div>
                                                        </div><div class="billboardTile billboardTile_2 billboardAnim" style="animation-duration: 1500ms; transform-origin: 50% 50% -171px;">
                                                            <div class="billboardImg">
                                                                <a class="J_bannerItem billboardImgInner" hidefocus="true" title="" href="javascript:;" target="_blank" style="min-width: 1519px; height: 342px; cursor: default; background-position: 50% 50%; background-repeat: no-repeat; overflow: hidden; display: block; outline: medium none; margin: 0px auto; position: relative; z-index: 1; background-image: url(&quot;../images/69zg/69zg_bannar.jpg&quot;);" onclick="return false;">
                                                                </a>
                                                            </div>
                                                        </div><div class="billboardTile billboardTile_3 billboardAnim" style="animation-duration: 1500ms; transform-origin: 50% 50% -171px;">
                                                            <div class="billboardImg">
                                                                <a class="J_bannerItem billboardImgInner" hidefocus="true" title="" href="javascript:;" target="_blank" style="width:100%;height:342px;cursor:default;background-position:50% 50%;background-repeat:no-repeat;overflow:hidden;display:block;outline:none;margin:0 auto;position:relative;z-index:1;background-image:url(../images/69zg/69zg_bannar.jpg);" onclick="return false;">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="bannar2" class="billboard_item billboardItem_9 billboardItem_9_2" style="animation-duration: 1500ms; display: none;">
                                                        <div class="billboardTile billboardTile_1 billboardAnim" style="animation-duration: 1500ms; transform-origin: 50% 50% -171px;">
                                                            <div class="billboardImg">
                                                                <a class="J_bannerItem billboardImgInner" hidefocus="true" title="" href="javascript:;" target="_blank" style="width:100%;height:342px;cursor:default;background-position:50% 50%;background-repeat:no-repeat;overflow:hidden;display:block;outline:none;margin:0 auto;position:relative;z-index:1;background-image:url(../images/69zg/69zg_bannar1.jpg);" onclick="return false;">
                                                                </a>
                                                            </div>
                                                        </div><div class="billboardTile billboardTile_2 billboardAnim" style="animation-duration: 1500ms; transform-origin: 50% 50% -171px;">
                                                            <div class="billboardImg">
                                                                <a class="J_bannerItem billboardImgInner" hidefocus="true" title="" href="javascript:;" target="_blank" style="width:100%;height:342px;cursor:default;background-position:50% 50%;background-repeat:no-repeat;overflow:hidden;display:block;outline:none;margin:0 auto;position:relative;z-index:1;background-image:url(../images/69zg/69zg_bannar1.jpg);" onclick="return false;">
                                                                </a>
                                                            </div>
                                                        </div><div class="billboardTile billboardTile_3 billboardAnim" style="animation-duration: 1500ms; transform-origin: 50% 50% -171px;">
                                                            <div class="billboardImg">
                                                                <a class="J_bannerItem billboardImgInner" hidefocus="true" title="" href="javascript:;" target="_blank" style="width:100%;height:342px;cursor:default;background-position:50% 50%;background-repeat:no-repeat;overflow:hidden;display:block;outline:none;margin:0 auto;position:relative;z-index:1;background-image:url(../images/69zg/69zg_bannar1.jpg);" onclick="return false;">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="bannerRight"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="absMiddleTable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center">
                        <div id="absForms" class="forms sideForms absForms">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <div id="fullmeasureTopForms" class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms" style="display:none">

            <wbr style="display:none;"></wbr>
        </div>

        <table id="webContainerTable" class="webContainerTable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center">
                        <div id="webContainer" class="webContainer">
                            <div id="container" class="container">
                                <table class="containerTop" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr valign="top">
                                            <td class="left"></td>
                                            <td class="center"></td>
                                            <td class="right"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="containerMiddle" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr valign="top">
                                            <td id="containerMiddleLeft" class="containerMiddleLeft"></td>
                                            <td class="containerMiddleCenter">
                                                <div id="containerMiddleCenterTop" class="containerMiddleCenterTop">

                                                </div>
                                                <div id="containerForms" class="containerForms">
                                                    <div id="topForms" class="column forms mainForms topForms" style="display:none">

                                                    </div>
                                                    
                                                    <div id="bottomForms" class="column forms mainForms bottomForms" style="display:none">

                                                    </div>
                                                    <div id="containerPlaceholder" class="containerPlaceholder" style="height: 0px;"></div>

                                                </div>
                                                <div id="containerMiddleCenterBottom" class="containerMiddleCenterBottom">
                                                </div>
                                            </td>
                                            <td id="containerMiddleRight" class="containerMiddleRight"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="containerBottom" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr valign="top">
                                            <td class="left"></td>
                                            <td class="center"></td>
                                            <td class="right"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="fullmeasureBottomForms" class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureBottomForms" style="display: none;">

            <wbr style="display:none;"></wbr>
        </div>

        <table class="absBottomTable" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="center">
                        <div id="absBottomForms" class="forms sideForms absForms">
                            <div style="position:absolute;"></div><!-- for ie6 -->

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
      
        <div class="clearfloat"></div>
    </div>
</div>