@*<div id="centerTopForms" class="column forms mainForms centerTopForms">*@
  @{
      Layout = null;
} 
<div id="module337" _indexclass="formIndex1" _modulestyle="29" _moduleid="337" class="form form337 formIndex1 formStyle29 layoutModule  fk-formTabX " title="" style="height: 885px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
    <table class="formTop formTop337" cellspacing="0" cellpadding="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
    <table class="formBanner formBanner337" style="" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="left left337"></td>
                <td class="center center337" valign="top">
                    <table class="formBannerTitle formBannerTitle337" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="titleLeft titleLeft337" valign="top"></td>
                                <td class="titleCenter titleCenter337" valign="top">
                                    <div class="titleText titleText337"><span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle337">动态</span></div>
                                </td>
                                <td class="titleRight titleRight337" valign="top"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="right right337"></td>
            </tr>
        </tbody>
    </table>
    <table class="formMiddle formMiddle337" style="height:885px; " cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="formMiddleLeft formMiddleLeft337"></td>
                <td class="formMiddleCenter formMiddleCenter337 " valign="top">
                    <div class="formMiddleContent formMiddleContent337 formTabMiddleContent fk-formContentOtherPadding" tabstyle="0" style="height: 865px; overflow-y: hidden;">
                        <div class="formTab" id="formTab337">
                            <table class="titleTable" cellspacing="0" cellpadding="0" width="100%"><tbody><tr><td class="formTabButtonTopLeft"></td><td class="formTabButtonTopCenter"><div class="formTabButtonList formTabButtonList337" id="formTabButtonList337"><div class="formTabButton formTabButtonHover" id="formTabButton340" tabmoduleid="340" onclick="Site.changeLiCnt(340, false,29)"><div class="formTabLeft formTabLeftHover"></div><div class="formTabMiddle formTabMiddleHover">企业新闻</div><div class="formTabRight formTabRightHover"></div><div class="tabItemTriangle"></div></div><div class="tabItemSep"><div class="commonTabItemSep"></div></div><div class="formTabButton" id="formTabButton339" tabmoduleid="339" onclick="Site.changeLiCnt(339, false,29)"><div class="formTabLeft"></div><div class="formTabMiddle">公司新闻</div><div class="formTabRight"></div><div class="tabItemTriangle"></div></div><div class="tabItemSep"><div class="commonTabItemSep"></div></div><div class="formTabButton" id="formTabButton338" tabmoduleid="338" onclick="Site.changeLiCnt(338, false,29)"><div class="formTabLeft"></div><div class="formTabMiddle">行业新闻</div><div class="formTabRight"></div><div class="tabItemTriangle"></div></div></div></td><td class="formTabButtonTopRight"></td></tr></tbody></table><div class="formTabContent formTabContent337 column" id="formTabContent337" style="height: 767px;">
                                <div class="formTabCntId formTabCntIdHover" styleid="7" id="formTabCntId340" style="height: 767px;" show="true">
                                    <div id="module340" _modulestyle="7" _moduleid="340" class="form form340 formStyle7 formInTab " title="" style="" _side="0" _intab="337" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="1" _global="false" _independent="false">
                                        <table class="formTop formTop340" cellspacing="0" cellpadding="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
                                        <table class="formBanner formBanner340" style="" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="left left340"></td>
                                                    <td class="center center340" valign="top">
                                                        <table class="formBannerTitle formBannerTitle340" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="titleLeft titleLeft340" valign="top"></td>
                                                                    <td class="titleCenter titleCenter340" valign="top">
                                                                        <div class="titleText titleText340"><span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle340">企业新闻</span></div>
                                                                    </td>
                                                                    <td class="titleRight titleRight340" valign="top"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="right right340"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="formMiddle formMiddle340" style="" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="formMiddleLeft formMiddleLeft340"></td>
                                                    <td class="formMiddleCenter formMiddleCenter340 " valign="top">
                                                        <div class="formMiddleContent formMiddleContent340 fk-formContentOtherPadding" tabstyle="0">
                                                            <div>
                                                                <div class="newsList J_newsList pic-mixNewsList" id="newsList340" _showsetting="1" newslisttype="2" scroll="0">
                                                                    <div topclassname="top1" topswitch="on" newsid="4" newsname="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody4" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module340tr4">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="4" newsflag="2"><a class="J_articlePicHref" href="nd.jsp?id=4&amp;_np=105_340" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrtzdvwUonq-yngIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=4&amp;_np=105_340" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=4&amp;_np=105_340" target="_blank" title="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="3" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody3" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module340tr3">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="3" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=3&amp;_np=105_340" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrNzdvwUoxvKW7QIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=3&amp;_np=105_340" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=3&amp;_np=105_340" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="5" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody5" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module340tr5">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="5" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=5&amp;_np=105_340" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgr9zdvwUonqa_QjDGAjjwAQ.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=5&amp;_np=105_340" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=5&amp;_np=105_340" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="1" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody1" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module340tr1">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="1" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=1&amp;_np=105_340" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrtzdvwUonq-yngIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=1&amp;_np=105_340" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=1&amp;_np=105_340" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="2" newsname="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody2" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module340tr2">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="2" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=2&amp;_np=105_340" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgr9zdvwUonqa_QjDGAjjwAQ.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=2&amp;_np=105_340" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=2&amp;_np=105_340" target="_blank" title="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator " style="visibility:hidden;"></div>
                                                                    <div class="clearfloat"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="formMiddleRight formMiddleRight340"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="formBottom formBottom340" cellspacing="0" cellpadding="0"><tbody><tr><td class="left left340"></td><td class="center center340"></td><td class="right right340"></td></tr></tbody></table>
                                        <div class="clearfloat clearfloat340"></div>
                                    </div>
                                </div><div class="formTabCntId" styleid="7" id="formTabCntId339" style="height: 767px; display: none;">
                                    <div id="module339" _modulestyle="7" _moduleid="339" class="form form339 formStyle7 formInTab " title="" style="" _side="0" _intab="337" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="1" _global="false" _independent="false">
                                        <table class="formTop formTop339" cellspacing="0" cellpadding="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
                                        <table class="formBanner formBanner339" style="" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="left left339"></td>
                                                    <td class="center center339" valign="top">
                                                        <table class="formBannerTitle formBannerTitle339" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="titleLeft titleLeft339" valign="top"></td>
                                                                    <td class="titleCenter titleCenter339" valign="top">
                                                                        <div class="titleText titleText339"><span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle339">公司新闻</span></div>
                                                                    </td>
                                                                    <td class="titleRight titleRight339" valign="top"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="right right339"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="formMiddle formMiddle339" style="" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="formMiddleLeft formMiddleLeft339"></td>
                                                    <td class="formMiddleCenter formMiddleCenter339 " valign="top">
                                                        <div class="formMiddleContent formMiddleContent339 fk-formContentOtherPadding" tabstyle="0">
                                                            <div>
                                                                <div class="newsList J_newsList pic-mixNewsList" id="newsList339" _showsetting="1" newslisttype="2" scroll="0">
                                                                    <div topclassname="top1" topswitch="on" newsid="5" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody5" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module339tr5">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="5" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=5&amp;_np=105_339" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgr9zdvwUonqa_QjDGAjjwAQ.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=5&amp;_np=105_339" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=5&amp;_np=105_339" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="4" newsname="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody4" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module339tr4">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="4" newsflag="2"><a class="J_articlePicHref" href="nd.jsp?id=4&amp;_np=105_339" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrtzdvwUonq-yngIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=4&amp;_np=105_339" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=4&amp;_np=105_339" target="_blank" title="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="3" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody3" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module339tr3">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="3" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=3&amp;_np=105_339" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrNzdvwUoxvKW7QIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=3&amp;_np=105_339" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=3&amp;_np=105_339" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="1" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody1" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module339tr1">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="1" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=1&amp;_np=105_339" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrtzdvwUonq-yngIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=1&amp;_np=105_339" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=1&amp;_np=105_339" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="2" newsname="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody2" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module339tr2">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="2" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=2&amp;_np=105_339" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgr9zdvwUonqa_QjDGAjjwAQ.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=2&amp;_np=105_339" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=2&amp;_np=105_339" target="_blank" title="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator " style="visibility:hidden;"></div>
                                                                    <div class="clearfloat"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="formMiddleRight formMiddleRight339"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="formBottom formBottom339" cellspacing="0" cellpadding="0"><tbody><tr><td class="left left339"></td><td class="center center339"></td><td class="right right339"></td></tr></tbody></table>
                                        <div class="clearfloat clearfloat339"></div>
                                    </div>
                                </div><div class="formTabCntId" styleid="7" id="formTabCntId338" style="height: 767px; display: none;">
                                    <div id="module338" _modulestyle="7" _moduleid="338" class="form form338 formStyle7 formInTab " title="" style="" _side="0" _intab="337" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="1" _global="false" _independent="false">
                                        <table class="formTop formTop338" cellspacing="0" cellpadding="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
                                        <table class="formBanner formBanner338" style="" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="left left338"></td>
                                                    <td class="center center338" valign="top">
                                                        <table class="formBannerTitle formBannerTitle338" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="titleLeft titleLeft338" valign="top"></td>
                                                                    <td class="titleCenter titleCenter338" valign="top">
                                                                        <div class="titleText titleText338"><span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle338">行业新闻</span></div>
                                                                    </td>
                                                                    <td class="titleRight titleRight338" valign="top"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="right right338"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="formMiddle formMiddle338" style="" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="formMiddleLeft formMiddleLeft338"></td>
                                                    <td class="formMiddleCenter formMiddleCenter338 " valign="top">
                                                        <div class="formMiddleContent formMiddleContent338 fk-formContentOtherPadding" tabstyle="0">
                                                            <div>
                                                                <div class="newsList J_newsList pic-mixNewsList" id="newsList338" _showsetting="1" newslisttype="2" scroll="0">
                                                                    <div topclassname="top1" topswitch="on" newsid="1" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody1" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module338tr1">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="1" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=1&amp;_np=105_338" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrtzdvwUonq-yngIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=1&amp;_np=105_338" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=1&amp;_np=105_338" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="2" newsname="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody2" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module338tr2">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="2" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=2&amp;_np=105_338" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgr9zdvwUonqa_QjDGAjjwAQ.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=2&amp;_np=105_338" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=2&amp;_np=105_338" target="_blank" title="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="3" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody3" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module338tr3">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="3" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=3&amp;_np=105_338" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrNzdvwUoxvKW7QIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=3&amp;_np=105_338" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=3&amp;_np=105_338" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="4" newsname="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody4" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module338tr4">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="4" newsflag="2"><a class="J_articlePicHref" href="nd.jsp?id=4&amp;_np=105_338" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgrtzdvwUonq-yngIwxgI48AE.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=4&amp;_np=105_338" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=4&amp;_np=105_338" target="_blank" title="IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">IBM联合宣布承载企业核心应用、全球统一标准的 “CMS企业云”正式上线</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine "></div>
                                                                    <div topclassname="top1" topswitch="on" newsid="5" newsname="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_newsListLine line noHover  " style="padding:0;height:auto;overflow:hidden;">
                                                                        <table id="lineBody5" class="J_lineBody lineBody" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr id="module338tr5">
                                                                                    <td class="J_newsTitle newsTitle mixNewsTitle" style="width: 100%;" valign="top">
                                                                                        <div class="J_articlePhotoBox articlePhotoBox" newid="5" newsflag="0"><a class="J_articlePicHref" href="nd.jsp?id=5&amp;_np=105_338" target="_blank" style="display:block;width:162px;height:107px;overflow:hidden;"><img class="J_newsListPic newsPic" alt="文章附图" title="" src="http://7141253.s61i.faiusr.com/4/AD0Ihe_zAxAEGAAgr9zdvwUonqa_QjDGAjjwAQ.png" style="width:152px;height:107px;float:left;"></a></div><div class="mixNewsStyleTitleContainer"><div class="J_newsListTopFlag " style="margin:0;position:relative;"><a class="no-mixNewsStyleTitleTip" href="nd.jsp?id=5&amp;_np=105_338" target="_blank"></a></div><span class="mixNewsStyleDate fk-newsListDate">2017-02-21</span><a hidefocus="true" href="nd.jsp?id=5&amp;_np=105_338" target="_blank" title="中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle" mix="1" style="width: 680px;">中国人民银行呼和浩特中心支行领导莅临世纪互联包商银行西红门数据中心视察工作</a></div><p class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary ">2015年5月21日下午，中国人民银行呼和浩特中心支行领导一行人莅临包商银行与世纪互联合作的包商银行西红门数据中心...</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="J_separatorLine separatorLine g_separator " style="visibility:hidden;"></div>
                                                                    <div class="clearfloat"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="formMiddleRight formMiddleRight338"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="formBottom formBottom338" cellspacing="0" cellpadding="0"><tbody><tr><td class="left left338"></td><td class="center center338"></td><td class="right right338"></td></tr></tbody></table>
                                        <div class="clearfloat clearfloat338"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="formMiddleRight formMiddleRight337"></td>
            </tr>
        </tbody>
    </table>
    <table class="formBottom formBottom337" cellspacing="0" cellpadding="0"><tbody><tr><td class="left left337"></td><td class="center center337"></td><td class="right right337"></td></tr></tbody></table>
    <div class="clearfloat clearfloat337"></div>
</div>


