@using System.Collections
@{
    Hashtable week = new Hashtable();
    week.Add("Friday", "五");
    week.Add("Monday", "一");
    week.Add("Saturday", "六");
    week.Add("Sunday", "日");
    week.Add("Thursday", "四");
    week.Add("Tuesday", "二");
    week.Add("Wednesday", "三");
}
<div  style="background-color:#0094ff;width:100%;padding:2px;float:left;color:ghostwhite;padding-left:36%">
    当前日期：@(DateTime.Now.Date.ToString("yyyy年MM月dd日 星期")+ week[DateTime.Now.DayOfWeek.ToString()])&nbsp;<span id="currenttime"></span>
</div>
<script>
    $(function () {
        setInterval(function () {
            var date = new Date();
            $("#currenttime").html(date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds());
        }, 1000);
    });
</script>