<div>
    <div style="background-color:#f5f5f5;width:100%;min-height:20px;padding:10px">
        <div style="width:30%;float:left">行业平台</div>
        <div  style="width:97%;text-align:right">
            欢迎 :<span>@ViewBag.username</span> !&nbsp;&nbsp; @Html.ActionLink("退出","logout","login",null,new {cursor="point" })
        </div>
    </div>
    <div style="background-color:#0094ff;width:100%;padding:2px">
    </div>
</div>

