
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTAHBOA.cshtml";
}
<style>
#leftnavi>span {
        cursor:pointer;
        width:200px;
       color:#0094ff;
        background-color:#f5f5f5;
         /*border:2px none #0094ff;
        border-bottom-style:solid;*/
        }
#leftnavi>div>span {
        cursor:pointer;
        width:180px;
        float:left;
        margin-left:20px;
        height:30px;
        }
   #leftnavi {
    overflow-y:auto;background-color:#f5f5f5;float:left;width:200px;min-height:600px;
    border:2px solid #ffffff;border-right-color:#0094ff;border-left-width:2px;
    }
</style>
<div>
    <div id="leftnavi">
        <span>caidan1</span>
        <div>
            <span>caidan1</span>
            <span>caidan1</span>
            <span>caidan1</span>
        </div>
        <span>caidan1</span>
        <div>
            <span>caidan1</span>
            <span>caidan1</span>
            <span>caidan1</span>
        </div>
        <span>caidan1</span>
        <div>
            <span>caidan1</span>
            <span>caidan1</span>
            <span>caidan1</span>
        </div>
    </div>
    <div style="width:100%">
       Index

    </div>
</div>

